---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vaultwarden-data-pvc
  namespace: vaultwarden
spec:
  storageClassName: hostpath-sc  # <-- Add your own storage class or remove the line
  accessModes: [ReadWriteOnce]
  resources: { requests: { storage: 1Gi } }