---
apiVersion: v1
kind: Secret
metadata:
  name: vaultwarden-secret
  namespace: vaultwarden
stringData:
  ADMIN_TOKEN: "your_generated_argon2_hash_here" # <-- Generate a secure hash for your admin panel password. You can do this with this argon2 string generator: https://argon2.online/
  PUSH_INSTALLATION_ID: "your_push_id_here" # <-- To enable push notifications, obtain your credentials from [https://bitwarden.com/host](https://bitwarden.com/host). Enter your email, and you will receive a unique ID and key.
  PUSH_INSTALLATION_KEY: "your_push_key_here" # <-- To enable push notifications, obtain your credentials from [https://bitwarden.com/host](https://bitwarden.com/host). Enter your email, and you will receive a unique ID and key.