---
apiVersion: v1
kind: Secret
metadata:
  name: vaultwarden-secret
  namespace: vaultwarden
stringData:
  ADMIN_TOKEN: "your_generated_argon2_hash_here"
  PUSH_INSTALLATION_ID: "your_push_id_here"
  PUSH_INSTALLATION_KEY: "your_push_key_here"